body {
  background: #677077;
}


.test {
  background: green;
  height: 100px;
  width: 100px;
}

.login {
  margin: 0;
  font-size: 2.5em;
  color: white;
  text-align: center;
  background: #252839;
  /*height: 30%;
  width: 30%;*/
  border: 1px solid black;
  border-radius: 5px;
}

.button {
  height: 40px;
  width: 300px;
  text-align: center;
  border-radius: 5px;
}

.tweet {
  height: 200px;
  width: 50%;
  margin: 0 auto;
  border-radius: 5px;
  background-color: purple;
}
