.template {
  min-height: 5rem;
  max-height: 10rem;
  height: auto;
  overflow: auto;
  width: 50%;
  padding: 0.5rem;
  margin: 0 auto;
  border-radius: 5px;
  background-color: white;
  word-wrap: break-word;
}

.template:focus {
  outline: none;
}
